pip install spacy
pip install pandas
pip install torch
pip install datasets
pip install transformers
pip install scikit-learn
pip install numpy
pip install accelerate>=0.26.0
# please update. will also add more when we get to fine-tuning stage 
